<div class="activity-dialog with-bg-map">

  <!-- Background polyline -->
  <div class="bg-map">
    <canvas #canvas></canvas>
  </div>

  <!-- Overlay pour lisibilité -->
  <div class="bg-overlay"></div>

  <!-- Contenu réel -->
  <div class="content">

    <h2 mat-dialog-title class="title">{{ currentActivity.name }}</h2>

    <h3 class="subtitle" *ngIf="country">
      <img class="flag" [src]="'assets/images/flag/' + country + '.png'" />
      <span>{{ city }}</span>
      <span>•</span>
      <span>
        {{ currentActivity.startDateLocal | date:'dd MMM yyyy' }},
        {{ currentActivity.startDateLocal | date:'HH:mm' }}
      </span>
    </h3>

    <div class="center-content">
      <div class="distance">
        {{ currentActivity.distance }} {{ 'i18n.page.activity_dialog.metrics.distance' | translate }}
      </div>

      <div class="meta-line">
        {{ formatTime(currentActivity.movingTime) }} • {{ currentActivity.totalElevationGain }} {{ 'i18n.page.activity_dialog.metrics.elevation' | translate }}
      </div>

      <div class="stats-grid">
        <div class="stat-card" *ngIf="data.averageSpeed">
          <mat-icon>speed</mat-icon>{{ currentActivity.averageSpeed }}
        </div>

        <div class="stat-card" *ngIf="data.averageHeartrate">
          <mat-icon>favorite</mat-icon>{{ currentActivity.averageHeartrate }} {{ 'i18n.page.activity_dialog.metrics.heartrate' | translate }}
        </div>
      </div>

      <div class="chip" *ngIf="data.sessionType">
        {{ currentActivity.sessionType }}
      </div>
    </div>

    <div class="footer">
      <button mat-raised-button class="button-actions" (click)="openStrava()">
      <img src="assets/images/strava.svg" class="strava-logo" /> 
      {{ 'i18n.page.activity_dialog.open_on_strava' | translate }}
      </button>
    </div>

    <div class="footer nav-footer" *ngIf="activities.length > 1">
      <button mat-icon-button (click)="previous()" [disabled]="currentIndex === 0">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <span class="nav-counter">
        {{ currentIndex + 1 }} / {{ activities.length }}
      </span>

      <button mat-icon-button (click)="next()" [disabled]="currentIndex === activities.length - 1">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

  </div>
</div>