.current-prepa-card {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    padding: 24px;
    margin: 30px 16px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ----- Ligne 1 : Infos principales ----- */
.prepa-header-line {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    cursor: pointer;
}

.prepa-info-bubble {
    display: flex;
    align-items: center;
    gap: 22px;

    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);

    padding: 18px 32px;
    border-radius: 18px;

    transition: 0.25s ease;
}

.prepa-info-bubble:hover {
    border-color: rgba(255, 255, 255, 0.28);
    background: rgba(255, 255, 255, 0.12);
}

.info-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #f2f1ff;
    font-size: 1.05rem;
    font-weight: 400;
}

.info-item mat-icon {
    font-size: 22px !important;
    width: 22px !important;
    height: 22px !important;
    color: #b7b5ff;
}

.separator {
    width: 1px;
    height: 26px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
}


/* ----- Ligne 2 : Stats ----- */
.prepa-stats-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    gap: 12px;
    flex-wrap: wrap;
}

.stat-item {
    flex: 1;
    min-width: 100px;
}

.stat-value {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.stat-label {
    font-size: 0.8rem;
    color: #c3c3e8;
}

@media (max-width: 500px) {

    .prepa-info-bubble {
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px 14px;
        padding: 10px 14px;
    }

    .separator {
        display: none;
    }

    .info-item {
        font-size: 0.8rem;
        gap: 6px;
    }

    .info-item mat-icon {
        font-size: 16px !important;
        width: 16px !important;
        height: 16px !important;
    }

    .prepa-stats-row {
        flex-direction: column;
        gap: 16px;
    }
}