.training-step {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  padding: 12px 16px;
  border: 1px solid #e0e0e0;
  border-left: 5px solid #8b7cff;
  border-radius: 6px;
  background: #f2f1ff;
}

.step-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.step-info {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  color: #555;
}

.step-type,
.step-intensity {
  padding: 0;
  min-height: auto;
  font-size: 14px;
  margin-left: 20px;

  mat-icon {
    font-size: 18px;
    opacity: 0.6;
  }
}

.step-value {
  font-weight: 500;
}

.icon-actions {
  display: flex;
  align-items: center;
  gap: 8px;

  .remove {
    cursor: pointer;
  }

  .drag-icon {
    cursor: move;
    color: #777;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 480px) {
  .training-step {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 8px 12px;
  }

  .step-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
  }

  .step-type,
  .step-intensity {
    font-size: 12px;

    mat-icon {
      font-size: 16px;
    }
  }

  .step-value {
    font-size: 12px;
  }

  .icon-actions {
    gap: 6px;

    .drag-icon,
    .remove {
      font-size: 18px;
    }
  }
}