<ng-container *ngIf="!(loading$ | async)">
    <div class="search-page">

        <!-- Header -->
        <div class="training-plan-header" (click)="goToTrainingPlan()">
            <h1 class="plan-name">
                {{ currentPlan.name }}
                <mat-icon class="arrow-icon">arrow_forward</mat-icon>
            </h1>
        </div>


        <!-- Search input -->
        <div class="search-bar">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Rechercher par nom ou description" [(ngModel)]="query" (input)="onSearch()" />
        </div>

        <!-- Filters 
        <div class="filters">
            <button class="chip" [class.active]="activeFilter === 'all'" (click)="setFilter('all')">Tous</button>

            <button class="chip" (click)="setFilter('distance')">Distance</button>
            <button class="chip" (click)="setFilter('elevation')">Dénivelé</button>
            <button class="chip" (click)="setFilter('difficulty')">Difficulté</button>
        </div> -->

        <div class="content-layout">
            <!-- Filters column -->
            <aside class="filters-panel">
                <div class="filters-header">
                    <h4 class="filters-title">Filtres</h4>
                    <button class="refresh-filters-btn">Réinitialiser les filtres</button>
                </div>
                <mat-divider></mat-divider>
                <div class="filters">

                </div>
            </aside>

            <!-- Results column -->
            <section class="results-panel">
                <div class="results" *ngIf="filteredActivities.length > 0; else nodata">

                    <span class="total-activities">{{ filteredActivities.length }} activités trouvées.</span>

                    <div class="result-card" *ngFor="let activity of filteredActivities">

                        <div class="map-preview">
                            <app-polyline-preview [polyline]="activity.polyline"></app-polyline-preview>
                        </div>

                        <div class="info">
                            <h3>{{ activity.name }}</h3>

                            <div class="meta">
                                <img [src]="activity.sportType === 'TrailRun' ? 'assets/images/trail-icon-24px.svg' : 'assets/images/run-icon-24px.svg'" />
                                <span>{{ activity.distance }} km</span>
                                <span>•</span>
                                <span>{{ activity.totalElevationGain }} m</span>
                                <span>•</span>
                                <span>{{ globalService.formatTime(activity.movingTime) }}</span>
                            </div>

                            <div class="session-tag" *ngIf="activity.sessionType">
                                <mat-icon class="tag-icon">local_offer</mat-icon>
                                <span class="tag-label">
                                    {{ 'i18n.session_type.label.' + activity.sessionType | translate }}
                                </span>
                            </div>

                            <div class="footer">
                                <div class="location-and-date">
                                    <div class="location">
                                        <img class="flag" src="assets/images/flag/GR.png" />
                                        <span>Kalavarda</span>
                                    </div>
                                    <div class="created">
                                        {{ activity.startDateLocal | date:'longDate' }}
                                    </div>
                                </div>
                                <button mat-raised-button class="button-actions">
                                    <img src="assets/images/strava.svg" class="strava-logo" /> 
                                    <span>Ouvrir dans Strava</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <ng-template class="nodata-container" #nodata>
                    <div class="nodata">
                        <span>Aucune activité disponible</span>
                        <span>Aucune activité ne correspond à tes critères actuels. Vérifie tes filtres ou importe une nouvelle séance.</span>
                    </div> 
                </ng-template>
            </section>


        </div>

    </div>
</ng-container>