.search-page {
  padding: 16px;
  color: #fff;
}

.training-plan-link {
  padding: 20px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  width: fit-content;

  &:hover {
    text-decoration: underline;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: 12px;
  background: #1b1432;

  &:focus-within {
    border-color: #8b7cff;
    box-shadow: 0 0 0 2px rgba(108, 92, 231, 0.3);
  }

  input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
  }
}

.filters {
  display: flex;
  gap: 8px;
  margin: 16px 0;
}

.chip {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #444;
  background: transparent;
  color: #ccc;

  &.active {
    background: #fff;
    color: #000;
  }
}

.results {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.result-card {
  display: flex;
  gap: 12px;
  border-radius: 16px;
  background: #1b1432;
}

.map-preview {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  background: #120d24;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}


.info {
  flex: 1;
  padding: 12px;

  h3 {
    margin: 0 0 6px;
    font-size: 1rem;
  }

  .meta {
    display: flex;
    gap: 8px;
    font-size: 0.9rem;
    opacity: 0.85;
    margin-bottom: 6px;
  }

  .badge {
    background: #333;
    padding: 2px 6px;
    border-radius: 6px;
  }

  .location,
  .created {
    font-size: 0.8rem;
    opacity: 0.6;
  }

  .location {
    margin-bottom: 4px;
  }
}