<h2 mat-dialog-title class="title">{{ 'i18n.page.plan.create_planned_activity_dialog.title' | translate }}</h2>
<mat-divider></mat-divider>

<form [formGroup]="form" mat-dialog-content class="form-content">
  <!-- Titre -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'i18n.page.plan.create_planned_activity_dialog.fields.name' | translate }}</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="form.get('name')?.hasError('required')">
      {{ 'i18n.page.plan.create_planned_activity_dialog.errorMessage.field' | translate }}
    </mat-error>
  </mat-form-field>

  <!-- Date -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'i18n.page.plan.create_planned_activity_dialog.fields.date' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" [min]="today" [max]="maxDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="form.get('date')?.hasError('required')">
      {{ 'i18n.page.plan.create_planned_activity_dialog.errorMessage.date' | translate }}
    </mat-error>
  </mat-form-field>

  <!-- Session type -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'i18n.page.plan.create_planned_activity_dialog.fields.type' | translate }}</mat-label>

    <mat-select formControlName="sessionType">
      <ng-container *ngFor="let category of categories">
        <mat-optgroup
          [label]="'i18n.page.plan.create_planned_activity_dialog.session_category.' + category | translate">
          <mat-option *ngFor="let session of filteredSessionTypes[category]" [value]="session.code">
            {{ session.label }}
          </mat-option>
        </mat-optgroup>
      </ng-container>
    </mat-select>

    <mat-error *ngIf="form.get('sessionType')?.hasError('required')">
      {{ 'i18n.page.home.create_dialog.errorMessage.field' | translate }}
    </mat-error>
  </mat-form-field>

  <!-- Case à cocher -->
  <mat-checkbox class="custom-checkbox" formControlName="defineContent">
    {{ 'i18n.page.plan.create_planned_activity_dialog.steps.checkbox' | translate }}
  </mat-checkbox>

  <!-- Champs optionnels -->
  <div class="planned-content" [hidden]="!form.get('defineContent')?.value">
    <span class="step-title">{{ 'i18n.page.plan.create_planned_activity_dialog.steps.title' | translate }}</span>

    <div class="training-steps" formArrayName="steps" cdkDropList [cdkDropListData]="steps.controls"
      (cdkDropListDropped)="dropMain($any($event))">
      <div *ngFor="let ctrl of steps.controls; let i = index" class="training-block" cdkDrag [cdkDragData]="ctrl">

        <!-- ================= ÉTAPE SIMPLE ================= -->
        <ng-container *ngIf="ctrl.value.kind === 'step'" [formGroup]="asFormGroup(ctrl)">
          <app-step-info [step]="asFormGroup(ctrl)" (pickNumericValue)="pickNumericValue($event.step, $event.type)"
            (remove)="removeStep(i)"></app-step-info>
        </ng-container>

        <!-- ================= RÉPÉTITION ================= -->
        <ng-container *ngIf="ctrl.value.kind === 'repeat'" [formGroup]="asFormGroup(ctrl)">
          <div class="repetition-header" [formGroup]="asFormGroup(ctrl)">
            <div class="repetition-info">
              <button mat-button class="repetition-count" [matMenuTriggerFor]="countMenu">
                {{ ctrl.value.repetitionCount }}
                <mat-icon>arrow_drop_down</mat-icon>
              </button>

              <span class="times-label">{{ 'i18n.page.plan.create_planned_activity_dialog.steps.times' | translate
                }}</span>
              <mat-menu #countMenu="matMenu">
                <button mat-menu-item *ngFor="let count of repetitionCounts"
                  (click)="ctrl.get('repetitionCount')?.setValue(count)">
                  {{ count }}
                </button>
              </mat-menu>
            </div>

            <div class="repetition-actions">
              <mat-icon class="pointer" (click)="addStepToRepetition(ctrl)">add</mat-icon>
              <mat-icon class="move" cdkDragHandle>reorder</mat-icon>
              <mat-icon class="pointer" (click)="removeStep(i)">delete</mat-icon>
            </div>
          </div>

          <div class="repetition-steps" formArrayName="steps" cdkDropList
            [cdkDropListData]="getRepetitionSteps(ctrl).controls"
            (cdkDropListDropped)="dropIntoRepetition(ctrl, $event)">
            <div *ngFor="let sub of getRepetitionStepGroups(ctrl); let j = index" [formGroup]="sub" class="sub-step"
              cdkDrag [cdkDragData]="sub">
              <app-step-info [step]="asFormGroup(sub)" (pickNumericValue)="pickNumericValue($event.step, $event.type)"
                (remove)="removeRepetitionStep(ctrl, j)"></app-step-info>
            </div>
          </div>

        </ng-container>

      </div>
    </div>

    <!-- ACTIONS -->
    <div class="step-actions">
      <button mat-stroked-button class="action-button" (click)="addStep()">
        <mat-icon>add</mat-icon>
        {{ 'i18n.page.plan.create_planned_activity_dialog.steps.actions.addStep' | translate }}
      </button>

      <button mat-stroked-button class="action-button" (click)="addRepetition()">
        <mat-icon>repeat</mat-icon>
        {{ 'i18n.page.plan.create_planned_activity_dialog.steps.actions.addRepetition' | translate }}
      </button>
    </div>

    <!-- APERÇU -->
    <div class="planned-overview">
      <span class="step-title">{{ 'i18n.page.plan.create_planned_activity_dialog.steps.overview' | translate }}</span>

      <div class="inputs-row">
        <div class="readonly-field">
          <span class="readonly-label">
            {{ 'i18n.page.plan.create_planned_activity_dialog.fields.plannedDistance' | translate }}
          </span>
          <span class="readonly-value">
            {{ form.get('plannedDistance')?.value | number:'1.2-2' }} km
          </span>
        </div>

        <div class="readonly-field">
          <span class="readonly-label">
            {{ 'i18n.page.plan.create_planned_activity_dialog.fields.plannedTime' | translate }}
          </span>
          <span class="readonly-value">
            {{ form.get('plannedTime')?.value | duration }}
          </span>
        </div>
      </div>
    </div>


  </div>
</form>

<!-- SUBMIT FORM -->
<mat-dialog-actions class="submit-action">
  <button mat-raised-button class="button-actions" [disabled]="form.invalid" (click)="submit()">
    {{ 'i18n.page.plan.create_planned_activity_dialog.actions.submit' | translate }}
  </button>
</mat-dialog-actions>

<div class="footer nav-footer" *ngIf="plannedActivities.length > 1">
  <button mat-icon-button (click)="previous()" [disabled]="currentIndex === 0">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <span class="nav-counter">
    {{ currentIndex + 1 }} / {{ plannedActivities.length }}
  </span>

  <button mat-icon-button (click)="next()" [disabled]="currentIndex === plannedActivities.length - 1">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>