<div class="activity-dialog with-bg-map">

  <!-- Background polyline -->
  <div class="bg-map">
    <canvas #canvas></canvas>
  </div>

  <!-- Overlay pour lisibilité -->
  <div class="bg-overlay"></div>

  <!-- Contenu réel -->
  <div class="content">

    <h2 mat-dialog-title class="title">{{ currentActivity.name }}</h2>

    <h3 class="subtitle" *ngIf="country">
      <img class="flag" [src]="'assets/images/flag/' + country + '.png'" />
      <span>{{ city }}</span>
      <span>•</span>
      <span>
        {{ currentActivity.startDateLocal | date:'dd MMM yyyy' }},
        {{ currentActivity.startDateLocal | date:'HH:mm' }}
      </span>
    </h3>

    <div class="center-content">
      <div class="distance">
        {{ currentActivity.distance }} {{ 'i18n.page.activity_dialog.metrics.distance' | translate }}
      </div>

      <div class="meta-line">
        {{ formatTime(currentActivity.movingTime) }} • {{ currentActivity.totalElevationGain }} {{ 'i18n.page.activity_dialog.metrics.elevation' | translate }}
      </div>

      <div class="stats-grid">
        <div class="stat-card" *ngIf="currentActivity.averageSpeed">
          <mat-icon>speed</mat-icon>{{ currentActivity.averageSpeed }}
        </div>

        <div class="stat-card" *ngIf="currentActivity.averageHeartrate">
          <mat-icon>favorite</mat-icon>{{ currentActivity.averageHeartrate }} {{ 'i18n.page.activity_dialog.metrics.heartrate' | translate }}
        </div>
      </div>


      <div class="session-tag-wrapper" #sessionTagWrapper>
        <div class="session-tag clickable" (click)="toggleSessionTypeEdit()">
          <mat-icon class="tag-icon">local_offer</mat-icon>
          <span class="tag-label">
              {{ 'i18n.session_type.label.' + currentActivity.sessionType | translate }}
          </span>
          <mat-icon class="edit-icon">expand_more</mat-icon>
        </div>

        <div class="session-type-panel" *ngIf="isEditingSessionType">
          <div class="planned-tag-info" *ngIf="currentActivity.plannedActivityId">
            <span>
              {{ 'i18n.page.activity_dialog.tag.from_plan_info' | translate }}
            </span>
          </div>

          <ng-container *ngFor="let category of sessionTypeCategories">
            <div class="menu-category">
              {{ ('i18n.session_type.category.' + category) | translate }}
            </div>

            <div class="session-type-option" *ngFor="let type of sessionTypesByCategory[category]" (click)="onSessionTypeSelect(type.code)">
              <span class="menu-label">{{ 'i18n.session_type.label.' + type.code | translate }}</span>
              <mat-icon *ngIf="type.code === currentActivity.sessionType">
                check
              </mat-icon>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="footer">
      <button *ngIf="plannedActivitiesAroundDate?.length && !currentActivity.plannedActivityId" mat-raised-button class="button-actions" (click)="linkActivity()">
        <mat-icon>link</mat-icon>
        {{ 'i18n.page.activity_dialog.link_activity' | translate }}
      </button>

      <button mat-raised-button class="button-actions" (click)="openStrava()">
        <img src="assets/images/strava.svg" class="strava-logo" /> 
        {{ 'i18n.page.activity_dialog.open_on_strava' | translate }}
      </button>
    </div>

    <div class="footer nav-footer" *ngIf="activities.length > 1">
      <button mat-icon-button (click)="previous()" [disabled]="currentIndex === 0">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <span class="nav-counter">
        {{ currentIndex + 1 }} / {{ activities.length }}
      </span>

      <button mat-icon-button (click)="next()" [disabled]="currentIndex === activities.length - 1">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

  </div>
</div>