// src/styles.scss
// Utilisation de la nouvelle syntaxe @use
@use '@angular/material' as mat;

// Définition des palettes de couleurs
$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// Définition du thème
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  )
));

// Application du thème à tous les composants Angular Material
@include mat.all-component-themes($my-theme);

// Styles globaux
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
